body {
    background-color: darkgray;
}
ul{
    display: flex;
    list-style: none;
    gap: 24px;
}
header {
    position: fixed; top: 0; left: 0; width: 100%; 
    background: black;
} 
ul{
    color: white;
}
li{
    color: white;
}
    img {
        margin: -15px;
        width: 70px;
        border-radius: 115px;
    }

    